.game-container {
    border: 1px solid black;
    width: 20vw;
    height: 80vh;
    margin: 20px auto;
    background-color: rgb(235, 255, 248);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
}

