.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 45vh;
    max-height: 50vh;
    overflow-y:scroll ;
    margin-top: 10px;
}

.list .colors-box
{
    min-height: 70px;
}