.color-panel{
    display: flex;
    background-color:#f0f8ff ;
    gap: 10px;
    border: 2px solid #000;
    padding: 10px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}
.color-panel .box{
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 6px 2px #888888;
}
.red.box:active {
  box-shadow: 0 5px rgb(158, 12, 12);
  transform: translateY(3px);
}
.green.box:active {
  box-shadow: 0 5px rgb(37, 56, 2);
  transform: translateY(3px);
}
.blue.box:active {
  box-shadow: 0 5px rgb(96, 83, 216);
  transform: translateY(3px);
}
.black.box:active {
  box-shadow: 0 5px rgb(78, 77, 80);
  transform: translateY(3px);
}
.yellow.box:active {
  box-shadow: 0 5px rgb(100, 116, 46);
  transform: translateY(3px);
}
.purple.box:active {
  box-shadow: 0 5px rgb(104, 33, 88);
  transform: translateY(3px);
}
.cancel{
  position: absolute;
  right: 291px;
  bottom: 43px;
  color: #fff;
  padding: 3px 6px;
  color: red;
  font-size: 19px;
  font-weight: bold;
}