.main {
  position: relative;
}
.main .cancel {
  position: absolute;
  right: 27px;
  top: -87px;
  z-index: 2;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.color-panel {
  display: flex;
  background-color: #e6e6e6;
  gap: 1px;
  border: 1px solid rgb(99, 99, 99);
  padding: 10px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 30px;
}
.color-panel .box {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(145, 144, 144);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 2px #888888;
}
.red.box:active {
  box-shadow: 0 5px rgb(158, 12, 12);
  transform: translateY(3px);
}
.green.box:active {
  box-shadow: 0 5px rgb(37, 56, 2);
  transform: translateY(3px);
}
.blue.box:active {
  box-shadow: 0 5px rgb(96, 83, 216);
  transform: translateY(3px);
}
.orange.box:active {
  box-shadow: 0 5px rgb(78, 77, 80);
  transform: translateY(3px);
}
.yellow.box:active {
  box-shadow: 0 5px rgb(100, 116, 46);
  transform: translateY(3px);
}
.purple.box:active {
  box-shadow: 0 5px rgb(104, 33, 88);
  transform: translateY(3px);
}
.cancel {
  position: absolute;
  right: 291px;
  bottom: 43px;
  color: #fff;
  padding: 3px 6px;
  color: red;
  font-size: 19px;
  font-weight: bold;
}
.row {
  display: flex;
  background-color: #e6e6e6;
  gap: 1px;
  border: 1px solid rgb(99, 99, 99);
  padding: 10px;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.row .color-field {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
