.board {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    min-width: 500px;
    max-width: 500px;
    width: 500px;
    height: 90vh;
    max-height: 90vh;
    min-height: 90vh;
    border-radius: 5px;
    background-color: #084640;
    box-shadow: 1px 2px inset black;
    box-shadow: 1px 4px 11px 4px black;
}

.board hr {
    color: gray;
    background-color: gray;
    height: 2px;
    width: 90%;
    margin: 0px;
    margin-top: 10px;
}