.card {
    border: 1px solid var(--my-grey);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: row;
}