.card {
  border: 2px solid var(--my-grey);
  display: flex;
  align-items: center;
  padding: 5px;
  /* flex-direction: row; */
  justify-content: flex-start;
  border-radius: var(--border-radius);

  box-shadow: 1px 1px 3px var(--my-grey);
  /* border: var(--my-border); */
}