
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  color: #4c4b4b;
  padding-bottom: -10px;
  border-bottom: 2px solid #808080;
}

.heading>h1 {
  color: #808080;
  margin-bottom: 0;
}

.heading>h1,
.heading>h2 {
  margin-bottom: 5px;

}