.history-block>.card {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.history-block>.card>.colors-card {
    margin-bottom: 5px;
}