* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #e7e6e4;
  padding: 20px;
}

button {
background-color: #d83f3f;
  border: 1px solid #d83f3f;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
  font-size: 15px;
}
button:hover{
  background-color: #cc6f6f;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;
}

.cell,
.cell-border {
  width: 35px;
  height: 35px;
  color: currentcolor;
  display: inline-flex;
  border-radius: 24px;
}

.choices {
  border: 1px solid black;
  width: max-content;
  height: 45px;
  margin-top: 10px;
}

.AnswerForm {
  display: inline-block;
}