.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 716px;
  border: 1px solid #000;
  width: 470px;
  height: 750px;
  display: inline-block;
  background: rgb(175 229 245 / 24%);
}

.rect {
  width: 400px;
  height: 68px;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 33px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}

.circles{
  border: 50%;
  background-color: gray;
}