.answer-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
}

.answer-box .clear {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(160, 1, 1);
    border-radius: 50%;
    background-color: red;
    opacity: 0.9;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    left: 450px;
    top: 5px;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 3px;
    color: white;
}

.answer-box .clear:active {
    box-shadow: -1px -1px 3px;
}

.answer-box .clear:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}