.choose-box {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    height: 50px;
    width: 80%;
    border: 1px solid gray;
    margin-top: 16px;
    border-radius: 5px;
}

.choose-box .cell {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(80, 80, 80);
    box-shadow: 1px 1px 3px;
    opacity: 0.9;
    cursor: pointer;
}

.choose-box .cell:active {
    box-shadow: -1px -1px 3px;
}

.choose-box .cell:disabled {
    opacity: 0.5;
    cursor: auto;
}